.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.ricky {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 15%;
}

.tabs {
    position: fixed;
    top: -10px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.content {
    display: none;
    margin-top: 10px;
}

.input-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px 5px;
    justify-content: start;
}

.input-grid label {
    display: grid;
    grid-template-columns: 18px auto;
    align-items: center;
}

.selector {
    margin-top: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: text;
    -moz-appearance: textfield;
}

.return {
    position: fixed;
    top: -10px;
    right: 10px;
}